<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <img src="../../assets/logo.jpg" class="image">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        routerLink="/home" (click)="homeClicked()">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active disabled" aria-current="page"
                        href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active disabled" aria-current="page"
                        href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active disabled" aria-current="page"
                        href="#">Contact Us</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search"
                    placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success"
                    type="button">Search</button>
            </form>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
